.u-block-5d1b-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5d1b-3 {
  position: absolute;
  left: 0;
}

.u-block-5d1b-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/optimize.webp");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 238px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

.u-section-1-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 238px auto 60px;
}

.u-section-1-1 .u-icon-1 {
  height: 100%;
}

.u-section-1-1 .u-icon-2 {
  height: 100%;
}

.u-section-1-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 741px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c44a3e37d461b3c0924c7f33be2627b724f66d825db656044eb1c42abf533657b63faaf8a9f5850825c5b88987bc8a0bc92954b29875a4b09c336e_1280.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1-2 .u-text-1 {
  margin: 280px 296px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-style: italic;
  margin: 39px 461px 0 131px;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 0 auto 60px 131px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 361px;
    margin-left: 31px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 172px;
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 268px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ac08fae7fbe83ac4f00fb968a6fce1bf74d6bbd02fd2d152a9409156e2122ce55a72304eeeb01fb7598da6a658c8b681e19db7ebe5614a74cc30ea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 295px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 83px;
    margin-right: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/74477c88a0771390e409294db61a4cab547eb0c724ca2147ccb7aa4eb96577a34a6d4e2fb8d678e383579ebd0e0fd6dc43d46280cb181faa53d4c4_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
  position: relative;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px -70px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin: 53px -50px 53px 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 305px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 30px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 635px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 40px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 603px;
  background-image: url("images/c737c605dd4c4911ca71e87dbcd94237d66b97cd579f175022220d93471ebc69ee9dd8582a14e19bd3cecf035ab909f07b30e48494192a1ea7a64c_12801.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  width: 210px;
  margin: 93px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 900;
  width: 210px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 300px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 603px;
  background-image: url("images/9436aaa7f949ad7c3ad31e32a8170cd6bc169d26dd19b4805858fdf88d45c2e2e2beb90ebb824cd6dd05b1a254dfc68f4519ac199ac451062ab52a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 23px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-style: italic;
  margin: 93px 0 0 14px;
}

.u-section-4 .u-text-5 {
  font-weight: 900;
  margin: 14px 7px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 306px auto 0;
}

.u-section-4 .u-image-3 {
  min-height: 603px;
  background-image: url("images/654841a4cd9f4f355ae58a9d792f1e403850d6970501eb4165893dc5c3c50d61601a456257f01652dc0f41f8bbcdd145ae9d1c1af1e16e6907d290_12801.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  margin: 73px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  margin: 300px auto 0;
}

.u-section-4 .u-image-4 {
  min-height: 603px;
  background-image: url("images/f1f23ef24366abfcac7776060aadbcfe6ca0bfa84a80a6ac546def1476292a09650350d5af14251da2edf996aa506a2fc264ed0a38bdcfa358b0ec_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 16px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 73px 14px 0;
}

.u-section-4 .u-text-9 {
  font-weight: 900;
  margin: 20px 0 0 28px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: 300px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 497px;
  }

  .u-section-4 .u-image-2 {
    min-height: 497px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 497px;
  }

  .u-section-4 .u-image-4 {
    min-height: 497px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-4 .u-image-1 {
    min-height: 761px;
  }

  .u-section-4 .u-image-2 {
    min-height: 761px;
  }

  .u-section-4 .u-image-3 {
    min-height: 761px;
  }

  .u-section-4 .u-image-4 {
    min-height: 761px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1142px;
  }

  .u-section-4 .u-image-2 {
    min-height: 1142px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 1142px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 1142px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-4 .u-image-1 {
    min-height: 719px;
  }

  .u-section-4 .u-image-2 {
    min-height: 719px;
  }

  .u-section-4 .u-image-3 {
    min-height: 719px;
  }

  .u-section-4 .u-image-4 {
    min-height: 719px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/a75fe223ac2827f3a09ee8da0b5de2e0d3e81d07618a25460691e12c8c46dadcc13c2292e6ef628544daf0a330191ce05c338f8dc1c3baa46f770e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 883px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  width: 680px;
  margin: 120px auto 0;
}

.u-section-5 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-video-1 {
  width: 640px;
  height: 573px;
  margin: 7px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-video-1 {
    margin-right: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5 .u-video-1 {
    margin-right: auto;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-video-1 {
    height: 257px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 349px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/2728332b-39d3-4747-98ad-b4c760e3c792.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 68px 495px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 36px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 702px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 467px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("images/25147a84-5239-4358-b8da-5d43cf5aee21.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-7 .u-text-3 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 111px;
  height: 111px;
  background-image: url("images/e020413e-2675-4d12-b1b8-27e5152aaa9b.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-7 .u-text-5 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 111px;
  height: 111px;
  background-image: url("images/716d680a-0874-4fdd-8aaf-6cf3ae8ee780.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-7 .u-text-7 {
  width: 193px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-7 .u-list-1 {
    height: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 502px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-8 .u-input-1 {
  text-transform: uppercase;
}

.u-section-8 .u-input-2 {
  text-transform: uppercase;
}

.u-section-8 .u-input-3 {
  text-transform: uppercase;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-8 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    width: 340px;
  }
}